body > #container {
    margin: 0 auto;
}

#container {
    width: 1000px;
}

.tabWrapper {
    height: 46px;
}

.tabs {
    display: flex;
    list-style: none;
    justify-content: center;
}

.tabs a {
    text-decoration: none;
    display: block;
    padding: 14px;
    color: #ffffff;
    text-align: center;
}

.tabs li {
    border: 1px solid #A7AAAA;
    border-bottom: none;
    width: 200px;
    background-color: #4C4C4E;
}

.activeTab {
    background-color: #c31820;
}

#iPortalTable_year, #iPortalTable_date, #iPortalTable_title, #iPortalTable_type, #iPortalTable_account {
    color: #ffffff;
}